<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Chat by Earvin Kayonga</title>
  <meta name="keywords" content="Earvin Kayonga Node JQuery Javascript Heroku FullStack">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="public/less/master.less">
</head>

<body>
  <!---->
  <div class="container" ng-app="ChatApp" ng-controller="mainCtrl">
    <div class="title">
      <h2>Chat by Earvin</h2>
    </div>

    <div class="chat">
      <div class="ligne" ng-repeat="item in chatObjs">
        <h4 class="pseudo" style="color:"+ randomColor()+";">{{ item.pseudo}}@chatbyearvin</h4> : <h4 class="message"> {{ item.message}}</h4>
      </div>
    </div>

    <div class="write">
      <form ng-submit="send()" id="form">
        <div class="form-group">
          <h4 id="pseudo"></h4>
          <input class="custom-form" ng-model="toSend" alt="Discuss" autocomplete="on"></input>
          <div class="clear">
          </div>
        </div>
      </form>
    </div>

  <div class="technos">
    <span  class="used">Done With</span>

    <div class="used angular">
      <img src="img/Angular.png" alt="angular Logo" />
    </div>

    <div class="used jquery">
      <img src="img/JqLogo.png" alt="jquery" />
    </div>

    <div class="used logo">
      <img src="img/logo.svg" alt="logo" />
    </div>

    <div class="used nodejs">
      <img src="img/nodejs.png" alt="NodeJs" />
    </div>

    <div class="clear">
    </div>
  </div>

  </div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/socket.io/node_modules/socket.io-client/socket.io.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/socket.js"></script>
</body>

</html>
</script>
</body>

</html>
