  body{
    font-family: courier;
  }
// index.html

.title{
  h2{
    color: #000;
  }
}


.chat{
  position: fixed;
  overflow-y: scroll;
  left: 20%;
  top:70px;

  width: 700px;
  height: 300px;
  background: #000;
  color: #fff;

  .ligne{
    margin-left: 10px;
    margin-top: 10px;
    width: 500px;
    h4{
      display: inline;
    }
    .pseudo{
      color: #008000;
      font-size: 20px;
    }

    .message{
      font-size: 20px;
    }

  }
}

.write{
  position: fixed;
  left: 20%;
  top: 370px;

  opacity: 0;
  width: 700px;
  height: 40px;

  color: #008000;
  background-color: #000;
  #pseudo{
    color: white;
    float: left;
    margin-left: 10px;
    font-size: 20px;
  }
  .custom-form{

    background: black;
    border: 0;
    outline: none;
    margin: 0;
    margin-left: 5px;
    float: left;
    width: 400px;
    height: 40px;
    line-height: 40px;
  }
}

.technos{
  position: fixed;
  width: 600px;
  height: 300px;


  top: 420px;
  left: 400px;

  img{
    margin: 10px;
    padding: 5px;
    width: 110px;
    height: 70px;
  }

  .used{
    margin: 1px;
    float: left;
  }
  .angular{

  }
  .jquery{

  }
  .logo{

  }
  .nodejs{

  }
  .clear{
    clear: both;
  }
}

.clear{
  clear: both;
}
